/vendor/
/.env
/.env.*
!/.env.example
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/app/private/*
/storage/app/reports/*
/public/build/
composer.phar
.phpunit.result.cache
.env
.env.*
!.env.example
/storage/*.key
/storage/app/private/
/storage/logs/
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/
